.logo-topHeader{
    padding-top: 20px;
    width: 120px;
    height: auto;

}

.brandName{
    color: white;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}


.Logout{
    padding: 20px;
}
.SideMenu{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #242323;
    overflow-x: hidden;
    padding-top: 10px;
    text-align: center;

}

.Menu-btn:hover {background: #eee;}
.Menu{
    color: white;
    text-align: center;
}
.Menu-btn{
    color: white;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;

}
